/*General purpose minified css*/
.indent,.left,.text-left{text-align:left}.blue{color:#4CA6FF}.bold{font-weight:700}.gray{color:#777}.faded{color:#ccc}.black{color:#222}.white{color:#fff}.no-bullet{list-style-type:none}.indent{text-indent:50px}.horizontal-center{margin-top:5%}

*, body *{
	padding:0;
	margin: 0;
}

body{
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: 100% 300%;
    overflow-x: hidden;
}

.ubuntu{
	font-family: 'Ubuntu', sans-serif;

}


@media(max-width: 767px) and (orientation:portrait){
	body{
		background-image: url("../img/background_mobile.jpeg");
	}
}

body, .link{
	font-family: 'Ubuntu', sans-serif;
	color: #777;
}

::selection{
	color: white;
	background-color: #4CA6FF;
}

/*h1 ... hn */
h1{
	font-size: 6em;
	margin-bottom: 20px;
}

h2{
	font-size: 3em;
	font-weight: bold;
	color: #4CA6FF;
}

header h2 small{
	color:#fff;
}

h2, h3{
	text-align: center;
}

h3{
	font-size: 2.5em;
	color: #444;

}
/*END h1 ... hn */

/*SECTIONS*/
section h2, footer h2{
	margin-top: 60px;
}
header hr{
	margin-bottom: 20px;
}
section hr, footer hr{
	margin-top: 30px;
	margin-bottom: 30px;
}

.showbg{
	/*background-color: rgba(0, 0, 0, 0.75);*/
	background: linear-gradient(rgba(0, 0, 0, .9),rgba(0, 0, 0, .65), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, .4), rgba(0, 0, 0, .65), rgba(0, 0, 0, .9));
	color: #fff;
}
.hidebg{
	background-color: #fff;
	min-height: 100vh;
}
/*END SECTIONS*/


@media(max-width: 480px) and (orientation:portrait){
	/*FORMATTING FOR BACKGROUND ON SMALLER SCREENS*/
	body{
		background: none;
	}
	.showbg{
		background:none;
		background-color: #4CA6FF;
	}

	.showbg h2{
		color: #fff;
	}
	/*FORMATTING FOR BACKGROUND ON SMALLER SCREENS*/
}
