/*PROJECTS*/
.project-frame{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.project img{
	width: 100%;
}

.project{
	width: 100%;
	position: relative;
}

.project i{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	margin:5px;
	font-size: 2.5em;
	color: #777;
}

.project .details{
	position: absolute;
	top: 0;
	left:0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	display: none;
}

.details:hover{
	cursor: pointer;
}

.details hr{
	margin: 0 auto;
}

.details p{
	color: #fff;
}

.p{
	display: block;
	width: 100%;
	position: relative;
	right: 100%;
}

.details .p p{
	text-align: center;
	margin: 15px; 
	font-style: italic;
	font-size: 16px;
}

.tags i{
	position: relative;
	color: #FFF;	
	font-size: 14px;
}

.tags{
	margin: 10px;
	position: relative;
	left: 100%;
	display: none;
}
.tags .tag{
	position: relative;
	font-size: 12px;
	padding:7px;
	border-radius: 5px;
	color: white;
	background-color: #4CA6FF;
}

.tags .tag:hover{
	cursor: pointer;
	background-color: #fff;
	color: #4CA6FF;

}

.details h3{
	color: #4CA6FF;
	text-align: center;
	margin: 15px; 
}

.details hr{
	width: 0%;
	border-color: #fff;
}

.title{
	display: block;
	width: 300%;
	overflow: hidden;
}

.view{
	border: solid white 1px;
	border: none;
	background-color: #4CA6FF;
}

.view p{
	margin: 25px;
	font-size: 32px;
	letter-spacing: 4px;
}

.view:hover{
	background-color: rgba(255, 255, 255, 0.25);
}

.view-options{
	position: absolute;
	bottom: -500px;
	width: 100%;
}

.view i{
	position: relative;
	color: white;
}

@media(min-width: 992px) and (max-width: 1199px), (max-width: 591px){
	.details h3{
		color: #4CA6FF;
		text-align: center;
		margin: 10px; 
		font-size: 28px;
		margin-bottom: 15px;
	}

	.details hr{
		width: 0%;
		border-color: #fff;
		margin: 0 auto;
	}

	.details .p p{
		font-size: 16px;
	}

	.details .tags{
		margin: 15px;
	}

	.tags .tag{
		position: relative;
		font-size: 10px;
		padding:4px;
		border-radius: 5px;
		color: white;
		background-color: #4CA6FF;
		margin: 0px;
	}

	.view i{
		font-size: 24px;
		letter-spacing: 2px;
		margin: 18px;
	}
}

@media (max-width: 991px){

	.details h3{
		margin-top: 20px;
		font-size: 32px;
	}

	.details hr{
		margin-top: 30px;
	}

	.p{
		display: flex;
  		justify-content: center;
	}

	.p p{
		font-size: 24px;
	}

	.view i{
		font-size: 32px;
		margin: 30px 0px 30px 0px;
	}
}

@media (max-width: 665px){
	.details h3{
		color: #4CA6FF;
		text-align: center;
		margin: 10px; 
		font-size: 30px;
	}

	.details hr{
		width: 0%;
		border-color: #fff;
		margin: 0 auto;
		margin-top: 20px;
	}

	.details .p{
		display: flex;
  		justify-content: center;
	}

	.details .p p{
		font-size: 18px;
	}

	.details .tags{
		margin: 15px;
	}

	.tags .tag{
		position: relative;
		font-size: 14px;
		padding:4px;
		border-radius: 5px;
		color: white;
		background-color: #4CA6FF;
		margin: 0px;
	}
}

@media (max-width: 591px){
	.details .p p{
		font-size: 16px;
	}

	.view i{
		font-size: 24px;
		letter-spacing: 2px;
		margin: 18px;
	}
}
/*
@media(max-width: 549px){
	.details h3{
		color: #4CA6FF;
		text-align: center;
		margin: 10px; 
		font-size: 24px;
		margin-top: 10%;
	}

	.title{
		height: 34%;
		border: solid white 1px;
	}
	.title:hover{
		background-color: rgba(255, 255, 255, 0.1);
		cursor: pointer;
	}

	.details hr{
		width: 0%;
		border-color: #fff;
		margin: 0 auto;
		display: none;
	}

	.details .p p{
		font-size: 14px;
		display: none;
	}

	.details .tags{
		margin: 15px;
		display: none;
	}

	.tags .tag{
		position: relative;
		font-size: 10px;
		padding:4px;
		border-radius: 5px;
		color: white;
		background-color: #4CA6FF;
		margin: 0px;
	}	
	.view-options{
		height: 66%;
	}
	.view{
		height: 50%;
	}
}*/

/*PHONES*/
@media(max-width: 480px) and (orientation:portrait){
	/*
	-make details section visible and appear under the photo; 
	-make the entire section clickable
	*/

	.project *:hover{
		text-decoration: none;
	}

	.project h3{
		font-size: 24px;
		font-weight: bold;
		margin-top: 15px;
	}

	.project .details{
		display: block;
		position: relative;
		background-color: rgba(255, 255, 255, 0.25);
		border-top: solid #4CA6FF;

	}

	.project .title{
		width: 100%;
		border: none;
	}

	.project .title, .project .view{
		background-color: rgba(255, 255, 255, 1);				
	}

	.project .details .p p{
		margin: 0px;
	}

	.project .details .p{
		display: block;
		right: 0%;
	}

	.project .details .p p{
		display: block;
		color: #fff;
		font-style: normal;
		margin: 15px 15px 15px 15px;
	}

	.project .details hr{
		display: none;
	}

	.project .view-options{
		position: relative;
		bottom: 0px;
		color: #4CA6FF;

	}

	.project .view{
		position: relative;
		color: #4CA6FF;
	}

	.project .view:hover{
		background-color: rgba(255, 255, 255, .75);		
	}

	.view p{
		display: none;
	}


	.view i{
		color: #4CA6FF;
		padding: 10px;
		margin: 0px;
		font-size: 14px;
		font-weight: bolder;
	}
}




/*END PROJECTS*/
