body{
	background: none;
}

nav{
	display: block;
}

.project_summary_wrapper{
	margin-top: 75px;
}

#summary_0, #summary_1, #summary_2, #summary_3, #summary_4{
	display: block;
}

#summary_0{
}
.project_summary{
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.fa-times{
	float: right;
	cursor: pointer;
	margin: 10px;
	font-size: 44px;
	color: #444;	
}

.fa-times:hover{
	color: #aaa;
}

.project_summary h3{
	margin-top: 50px;
	text-align: left;
}

.summary_header_img{
	width: 100%;
}

.project_summary p{
	font-size: 18px;
}

.project_summary a:hover, .project_summary a{
	color: #4CA6FF;
}

.project_summary .summary_button p{
	font-weight: bold;
}

.summary_button, .summary_button *{
	margin: 0px;
	padding: 0px;
}

.summary_button{
	padding: 20px 0px;
	text-align: center;
}

.summary_button{
}

.project_summary #product_button p{
	text-align: left;
}

.project_summary #repo_button p{
	text-align: right;
}