body{
	background: none;
}

nav{
	display: block;
}

.project_summary_wrapper{
	margin-top: 100px;
}

#summary_0, #summary_1, #summary_2, #summary_3, #summary_4{
	display: block;
}

#summary_0{
}
.project_summary{
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.fa-times{
	float: right;
	cursor: pointer;
	margin: 10px;
	font-size: 44px;
	color: #444;	
}

.fa-times:hover{
	color: #aaa;
}

.project_summary h3{
	margin-top: 50px;
	text-align: left;
}

.summary_header_img{
	width: 100%;
}

.project_summary p{
	font-size: 18px;
}

.project_summary .exit{
	background-color: #4CA6FF;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;

}

.exit:hover{
	opacity: 0.75;
}

body{
	overflow: none;
}
