/*SKILLS*/
#display_skills h3{
	text-align: left;
	color: #444;
}

.skill{
	margin: 0px;
	font-size: 1.5em;
}

.skill:hover{
	background-color: #eee;
	cursor: pointer;
}

.filled-star{
	color: #4CA6FF;
}



@media(max-width: 399px){

	#display_skills h3{
		text-align: center;
	}

	.skill, .skill p, .skills_col, .sk, .st{
	padding: 0px;
	margin: 0px;
	}
}

/*END SKILLS*/