@font-face{
    font-family: 'KareemMubarak';
    src: url('./kareem-mubarak/kareem-mubarak.ttf')
}

@font-face{
    font-family: 'RamadhanKarim';
    src: url('./ramadhan-karim/Ramadhan\ Karim.ttf')
}

@font-face{
    font-family: 'SketsaRamadhan';
    src: url('./sketsa-ramadhan/Sketsa\ Ramadhan\ Alternates.ttf')
}