body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, .95);
    height: 100vh;
    padding-bottom: 50px;
    overflow: auto;
}

.cards {
    padding: 50px;
    padding-top: 20px;
}

.gdoc {
    resize:both; 
    margin: 0 auto; 
    display: block;
    width: 100%;
    height: 600px;
}

.gdoc-full-screen{
    height: 1000px;
}