<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/lib/angularjs/1.7.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
		<script src="js/lib/html2canvas.min.js"></script>

		<script src="js/config.js"></script>
		<script src="js/domain/model/models.js"></script>
		<script src="js/domain/usecase/generateCalendar.js"></script>
		<script src="js/external/timeProviders/timeProviders.js"></script>
		<script src="js/external/pdfSaver.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<div class="wrapper" ng-class="{'dark-mode' : nightMode }">
				<div class="toolbar center">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <button class="btn btn-dark" type="button" ng-click="saveLandscape('#calendar')">Save</button>
						</div>
						<input class="form-control" ng-model="today.monthNum" type="number" ng-change="regenerateCalendar()" placeholder="month"></input>
						<input class="form-control" ng-model="today.year" type="number" ng-change="regenerateCalendar()" placeholder="year"></input>
						<div class="input-group-append">
							<button class="btn btn-dark night-mode" type="button" ng-click="toggleNightMode()">Toggle Night Mode</button>
						</div>
					</div>
				</div>
				<div id="calendar" class="a4-landscape border">
					<div class="title"> 
						<span class="gregorian">{{calendar.firstDay.month}} {{calendar.firstDay.year}} </span>
						<span class="hijri">
							{{calendar.firstDay.hijri.month}} {{calendar.firstDay.hijri.year}} - {{calendar.lastDay.hijri.month}} {{calendar.lastDay.hijri.year}}
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="calendar-body">
						<div class="weekday-labels cell-width"></div>
						<div ng-repeat="week in calendar.weeks" class="week">
							<div ng-repeat="day in week.days" class="cell inline-block" ng-class="{ 'cell-placeholder': day.placeholder, 'cell-today' : day.today, 'dark-mode' : nightMode }">
								<div ng-if="!day.placeholder">
									<div class="date">{{day.day}}</div>
									<div class="prayer-times">
										<div class="pt pt-fajr"><span class="pt-label">F</span> {{day.Fajr}}</div>
										<div class="pt pt-sunrise"><span class="pt-label">S</span> {{day.Sunrise}}</div>
										<div class="pt pt-zuhr"><span class="pt-label">Z</span> {{day.Zuhr}}</div>
										<div class="pt pt-asr"><span class="pt-label">A</span> {{day.Asr}}</div>
										<div class="pt pt-maghrib"><span class="pt-label">M</span> {{day.Maghrib}}</div>
										<div class="pt pt-isha"><span class="pt-label">I</span> {{day.Isha}}</div>
									</div>
									<div class="clearfix"></div>
									<div class="hijri hijri-date">{{day.hijriLabel}}</div>
								</div>									
							</div>
						</div>
						<div class="calendar-footer">
							<div class="legend text-center">
								<strong class="label">Color Code: </strong>
								<span class="pt-fajr">Fajr</span>
								<i class="divider"></i>
								<span class="pt-sunrise">Sunrise</span>
								<i class="divider"></i>
								<span class="pt-zuhr">Zuhr</span>
								<i class="divider"></i>
								<span class="pt-asr">Asr</span>
								<i class="divider"></i>
								<span class="pt-maghrib">Maghrib</span>
								<i class="divider"></i>
								<span class="pt-isha">Isha</span>
							</div>
							<div class="location">Prayer times for {{calendar.locationData.city}}, {{calendar.locationData.region}} ({{calendar.locationData.countryCode}})</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
