p {
    margin-bottom: 0px;
    white-space: pre-wrap;
}
input {
    margin-bottom: 5px;
}
textarea {
    resize: both;
}

.show{
    display: block;
}
.hide{
    display: none;
}

.signOutBtn{
}

#signInPage{
	background-color: #000055;
	width: 100vw;
	height: 100vh;
}

#signInContent{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#signInContent h1 {
	font-weight: bold;
	font-size: 64px;
	color: #FFFFFF;
}

#firebaseui-auth-container{}

.ubuntu{
	font-family: 'Ubuntu', sans-serif;
}