@font-face{
	font-family: 'Ubuntu';
	src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf')
}

@font-face{
	font-family: 'Ubuntu-Mono';
	src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf')
}



body {
	font-family: 'Ubuntu';
	padding: 10px;
}

h1 {
	text-align: center;
	size: 32px;
}

.a4-landscape {
	/* width: 842px;
	height: 595px; */
	/*used a factor of 1.35*/
	width: 1127px;
	height: 803px;
	padding: 10px;
	padding-top: 20px;
}

.inline-block {
	display: inline-block;
}

.center {
	margin: 0 auto;
}

.calendar-body {
	width: 1090px;
	margin: 0 auto;
}

#calendar {
	/* border: solid black 1px; */
	margin: 0 auto;
	color: #888888;
}

.week {
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
}

.cell {
	width: 155px;
	height: 140px;
	border: solid #888888 1px;
	overflow: hidden;
	color: #888888;
}

.cell-placeholder {
	background-color: #DDDDDD;
}

.date {
	float: left;
	font-size: 32px;
	line-height: 1;
	margin: 10px;
}

.prayer-times {
	float: right;
	margin-right: 5px;
	margin-top: 4px;
}

.pt {
	text-align: right;
	line-height: 1.15;

	font-size: 14px;

	/* margin-bottom: 2px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid black 1px;
	border-radius: 5px; */
}

/* .pt-fajr {
	border-color: #FFA000;
	background-color: #FFA000;
	color: #FFFFFF;
}

.pt-sunrise {
	border: none;
	color: #333333;
}

.pt-zuhr {
	border-color: #0D47A1;
	background-color: #0D47A1;
	color: #FFFFFF;
}

.pt-asr {
	border-color: #DD2C00;
	background-color: #DD2C00;
	color: #FFFFFF;
}

.pt-maghrib {
	border-color: #33AA3C;
	background-color: #33AA3C;
	color: #FFFFFF;
}

.pt-isha {
	border-color: #333333;
	background-color: #333333;
	color: #FFFFFF;
} */

.pt-fajr {
	color: #FFA000;
}

.pt-sunrise {
	color: #888888;
}

.pt-zuhr {
	color: #0D47A1;
}

.pt-asr {
	color: #DD2C00;
}

.pt-maghrib {
	color: #33AA3C;
}

.pt-isha {
	color: #333333;
}

.pt-label {
	display: none;
}