<!DOCTYPE html>
<html>
    <head>
        <!--prevent page cache-->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>

        <!--Firebase stuff-->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>

        <script src = "js/firebase/config.js"></script>

        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        <script src="js/firebase/auth.js"></script>

        <!-- custom script after auth allows script to access user info-->
        <script src="js/defaults.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body>
        <div ng-app="myApp" ng-controller="myCtrl" class="container">
            <div ng-class="signedIn ? 'hide' : 'show'" id="firebaseui-auth-container"></div>

            <div ng-class="signedIn ? 'show' : 'hide'" id="firebaseui-auth-signout-container" lang="en">
                <div class="firebaseui-container firebaseui-page-provider-sign-in firebaseui-id-page-provider-sign-in firebaseui-use-spinner">
                    <div class="firebaseui-card-content">
                        <ul class="firebaseui-idp-list">
                            <li class="firebaseui-list-item">
                                <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button">
                                    <span class="firebaseui-idp-icon-wrapper">
                                        <img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
                                    </span>
                                    <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign out</span>
                                    <span class="firebaseui-idp-text firebaseui-idp-text-short">Google</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="firebaseui-card-footer firebaseui-provider-sign-in-footer"></div>
                </div>
            </div>

            <!--
            <p class="text-center">{{ signedIn ? "You are signed in as " + user.displayName + " (" +user.email + ")" : "You are signed out"}}</p>
            -->
            <div ng-if="signedIn">
                <h1>Cover Letter Generator</h1>
                <div class="col-md-12">
                    <h2>Inputs</h2>
                    <div class="row">
                        <div class = "col-md-6">
                            <p>Link: <a href={{link}} target="_blank">{{link}}</a></p>
                            <p>Job posting link: <input ng-model="link"></p>
                            <p>Role: <input ng-model="role" ng-change="updateTitle()"></p>
                            <p>Company: <input ng-model="company" ng-change="updateTitle()"></p>
                            <p>What are they looking for in the job posting:</p>
                            <textarea ng-model="descriptionFromJobPosting"></textarea>
                        </div>
                        <div class = "col-md-6">
                            <p>Why you would be a good fit for the position:</p>
                            <textarea ng-model="goodFitSummary"></textarea>
                            <p>Body</p>
                            <textarea ng-model="body"></textarea>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="col-md-12">
                    <h2>Output</h2>
                    <p>{{defaults.addr1}}</p>
                    <p>{{defaults.addr2}}</p>
                    <p>{{date}}</p>
                    <br/>
                    <p>Dear {{defaults.hiringManager}},</p>
                    <br/>
                    <p>I am interested in the role of {{role}} at {{company}}. Based on the description on the job posting, I understand that you are looking for {{descriptionFromJobPosting}}. I believe that I will be a good fit for this role because {{goodFitSummary}}. </p>
                    <br/>
                    <p>{{body}}</p>
                    <br/>
                    <p>I am eager to contribute my skills and experience to your organization. Should you have any further questions, you may reach out to me by phone ({{defaults.phone}}) or email ({{defaults.email}}). I look forward to speaking with you.</p>
                    <br/>
                    <p>Sincerely,</p>
                    <p>{{defaults.name}}</p>
                </div>
            </div>            
        </div>
    </body>
</html>
