<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/defaults.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <style>
            p {
                margin-bottom: 0px;
                white-space: pre-wrap;
            }
            input {
                margin-bottom: 5px;
            }
            textarea {
                resize: both;
            }
        </style>
    </head>

    <body>
        <div ng-app="myApp" ng-controller="myCtrl" class="container">
            <h1>Cover Letter Generator</h1>
            <div class="col-md-12">
                <h2>Inputs</h2>
                <div class="row">
                    <div class = "col-md-6">
                        <p>Link: <a href={{link}} target="_blank">{{link}}</a></p>
                        <p>Job posting link: <input ng-model="link"></p>
                        <p>Role: <input ng-model="role" ng-change="updateTitle()"></p>
                        <p>Company: <input ng-model="company" ng-change="updateTitle()"></p>
                        <p>What are they looking for in the job posting:</p>
                        <textarea ng-model="descriptionFromJobPosting"></textarea>
                    </div>
                    <div class = "col-md-6">
                        <p>Why you would be a good fit for the position:</p>
                        <textarea ng-model="goodFitSummary"></textarea>
                        <p>Body</p>
                        <textarea ng-model="body"></textarea>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="col-md-12">
                <h2>Output</h2>
                <p>{{defaults.addr1}}</p>
                <p>{{defaults.addr2}}</p>
                <p>{{date}}</p>
                <br/>
                <p>Dear {{defaults.hiringManager}},</p>
                <br/>
                <p>I am interested in the role of {{role}} at {{company}}. Based on the description on the job posting, I understand that you are looking for {{descriptionFromJobPosting}}. I believe that I will be a good fit for this role because {{goodFitSummary}}. </p>
                <br/>
                <p>{{body}}</p>
                <br/>
                <p>I am eager to contribute my skills and experience to your organization. Should you have any further questions, you may reach out to me by phone ({{defaults.phone}}) or email ({{defaults.email}}). I look forward to speaking with you.</p>
                <br/>
                <p>Sincerely,</p>
                <p>{{defaults.name}}</p>
            </div>

        </div>

    </body>
</html>
